@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

/* Sembunyikan Scroll Bar */

/* Untuk Chrome, Edge, Safari, dan Opera (Webkit) */
body::-webkit-scrollbar {
    display: none;
}

/* Untuk Internet Explorer dan Edge (versi lama) */
body {
    -ms-overflow-style: none;  /* IE and Edge */
}

/* Untuk Firefox */
html {
    scrollbar-width: none;  /* Firefox */
}